@import "../css/reseter.css";

:root {
    --primary-white: white;
    --secondary-cold-white: #f8f8f8;
    --primary-blueish-green: #00897b;
    --primary-black: #212121;
    --primary-light-cyan: #e4fdf9;
    --secondary-blue: #3949ab;
    --pricing-background-color: #f0f1f1;
    --price-item-divider-color: #bfbfbf;
    --latest-items-hover: rgba(0, 0, 0, 0.45);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: black;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    transition: color 0.5s;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 0;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 0;
}



.container {
    padding: 125px 115px;
    text-align: center;
    width: 1400px;
    margin: 0 auto;
}

.container h2 {
    margin-bottom: 35px;
}

.container > p {
    margin: 0 270px;
}

.container > p:last-of-type {
    margin-bottom: 120px;
}

/* Header */
.header {
    min-height: 120px;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
.header a {
    color: var(--primary-black);
}
.header a:hover {
    color: var(--primary-blueish-green);
}
.header-logo {
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
}

.header-logo img {
    max-height: 100px;
    width: auto;
}

.navigation-list {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.navigation-list li:not(:last-child) {
    margin-right: 40px;
}

.search-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 25px;
    width: 25px;
    margin-left: 30px;
}

/* H! and background */
.heading {
    box-sizing: border-box;
    position: relative;
    height: 655px;
    text-align: center;
    padding-top: 140px;
    background-color: rgba(0, 0, 0, 0.8);
}

.heading::before {
    z-index: -1;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: " ";
    background: url("../img/background-1-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.heading h1,
.heading p {
    color: var(--primary-white);
    margin-top: 0;
}

.heading h1 {
    font-size: 60px;
    font-weight: 600;
    flex-grow: 1;
    margin-bottom: 40px;
}

.heading p {
    font-size: 22px;
}

.heading p:last-of-type {
    margin-bottom: 110px;
}

.heading-arrow {
    text-align: center;
    background: none;
    color: var(--primary-white);
    border: none;
    padding: 0;
    font: inherit;
    font-size: 30px;
    cursor: pointer;
    outline: inherit;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

/* Buttons */

.button {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    background-color: transparent;
    text-transform: uppercase;
    padding: 0;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.button:hover {
    background-color: var(--primary-blueish-green);
    color: inherit;
}

.button:active,
.button:focus {
    outline: none;
}

.heading-button {
    width: 222px;
    height: 73px;
    margin-bottom: 100px;
    color: var(--primary-white);
    border: 3px solid var(--secondary-cold-white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.heading-button:hover {
    border: 3px solid var(--primary-blueish-green);
    color: var(--primary-white);
}

.heading-button:first-of-type {
    margin-right: 25px;
}


.service-list-button {
    border: 2px solid var(--primary-black);
    color: var(--primary-black);
    width: 150px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-item:hover .service-list-button {
    border: 2px solid var(--primary-white);
    color: var(--primary-white);
}

.button-latest {
    border: 2px solid var(--primary-blueish-green);
    color: var(--primary-black);
    min-width: 180px;
    height: 55px;
}

.button-latest:hover {
    color: var(--primary-white);
}

.button-latest-more {
    min-width: 220px;
    height: 70px;
    line-height: 70px;;
}
.button-latest-more:hover {
    color: var(--primary-black);
    background-color: var(--primary-white);
}
.button.button-latest.active,
.button-latest-more {
    background-color: var(--primary-blueish-green);
    color: var(--primary-white);
    border: 2px solid var(--primary-blueish-green);
}

.button-pricing {
    width: 180px;
    height: 60px;
    color: var(--primary-black);
    border: 2px solid var(--primary-black);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.button-pricing:hover {
    color: var(--primary-white);
    border: 2px solid var(--primary-blueish-green);
    background-color: var(--primary-blueish-green);
}


/* Flexes*/

.latest-list,
.features,
.services-list,
.price-list,
.team-list,
.contact-list {
    display: flex;
    flex-wrap: wrap;
}

.latest-item,
.feature-item,
.service-item,
.price-item,
.team-member,
.contact-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.latest-item:nth-child(3n),
.feature-item:nth-child(3n),
.service-item:nth-child(3n),
.price-item:nth-child(3n),
.team-member:nth-child(3n),
.contact-item:nth-child(3n) {
    margin-right: 0;
}

/*About section*/
.about {
    color: var(--primary-black);
    text-align: center;
}

.feature-item {
    text-align: center;
    padding: 0 50px;
}
.feature-item h3 {
    margin: 40px 0 25px 0;
}

/* Services */
.services {
    background-color: var(--primary-light-cyan);
    text-align: center;
}
.services .container {
    padding-top: 174px;
}

.services h2 {
    margin-bottom: 35px;
}

.services p:last-of-type {
    margin-bottom: 110px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
}


.service-item {
    box-sizing: border-box;
    margin-bottom: 33px;
    padding: 60px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white);
    transition: background-color 0.5s;
}
.service-item h3 {
    margin: 0 0 25px 0;
}
.service-item p {
    line-height: 25px;
}
.service-item p:last-of-type {
    margin-bottom: 40px;
}


.service-item h3::before {
    content: " ";
    display: block;
    margin: 0 auto 40px auto;
    background-image: url("../img/service-icon.png");
    height: 67px;
    width: 62px;

}

.service-item:hover h3::before {
    background-position: 62px 0;
}

.service-icon {
    content: " ";

}

.service-item:hover {
    color: var(--primary-white);
    background-color: var(--primary-blueish-green);
}


/*Latest items*/

.latest-filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 120px;
}

.button-latest {
    margin-right: 20px;
}

.latest-list {
    margin-bottom: 120px;
}

.latest-item {
    position: relative;
}


.latest-item,
.latest-item img {
    width: 370px;
    height: 369px;
}


.latest-item div {
    color: var(--primary-white);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--latest-items-hover);
}


.latest-item:hover div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest-item a {
    color: var(--primary-white);
}
/* Pricing */
.pricing {
    background-color: var(--pricing-background-color);
}

.price-item {
    background-color: var(--primary-white);
    overflow: hidden;
    padding-bottom: 63px;
    transition: box-shadow 0.5s;
}

.price-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.price-header {
    background-color: var(--secondary-blue);
    transform: skewY(-4deg);
    transform-origin: left;
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 20px;
}

.price-header h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 32px 0;
}

.price-header p {
    font-size: 17px;
}

.price-header p span {
    font-size: 50px;
}

.superscript {
    font-size: 25px;
    vertical-align: middle;
}

.price-header h3,
.price-header p {
    color: var(--primary-white);
    transform: skewY(4deg);
    transform-origin: left;
}

.price-item ul {
    list-style: none;
    padding: 0;
    margin: 50px 0 60px 0;
}

.price-item ul li {
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--price-item-divider-color);
    margin-left: 100px;
    margin-right: 100px;
}

.team-list {
    text-align: center;
}

.team-member h3 {
    margin-bottom: 15px;
}

.team-member p:last-of-type {
    margin-bottom: 30px;
}

.team-member img {
    width: 370px;
    height: 320px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.team-socials {
    display: flex;
    list-style: none;
    justify-content: center;
}

.team-socials a {
    background-color: var(--pricing-background-color);
    color: var(--primary-blueish-green);
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-right: 25px;
    margin-bottom: 125px;
    width: 50px;
    height: 50px;
    transition: background-color 0.5s, color 0.5s;
}


.team-socials a:hover {
    color: var(--primary-white);
    background-color: var(--secondary-blue);
}

.team-socials a:last-child {
    margin-right: 0;
}
.team-socials a span {
    cursor: inherit;
}
.slider-buttons {
    margin: 0 auto;
}

.slider-dot {
    cursor: pointer;
    display: inline-block;
    content: " ";
    width: 15px;
    height: 15px;
    margin-right: 9px;
    border-radius: 50%;
    background-color: var(--primary-blueish-green);
    transition: background-color 0.5s;
}

.slider-dot.active,
.slider-dot:hover {
    background-color: var(--secondary-blue);

}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}


/* Carousel */
.carousel-item {
    display: none;
}

.carousel-item.active {
    display: flex;
}


/*Blog section*/

.blog {
    background-color: var(--primary-light-cyan);
}


.blog-list {
    display: flex;
    flex-wrap: wrap;

}

.blog-item:nth-child(2n) img {
    order: 1;
}

.blog-item {
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
}

.blog-item:last-child {
    margin-bottom: 125px;
}

.blog-text {
    padding-right: 100px;
    padding-top: 60px;
}

.blog-item:nth-child(2n-1) .blog-text {
    padding-left: 30px;

}
.blog-text a {
    color: var(--primary-black);
    cursor: pointer;
}
.blog-text a:hover {
    color: var(--primary-blueish-green);
}

.blog-text h3 {
    font-size: 25px;
    margin: 0 0 30px 0;
    cursor: inherit;
}

.blog-date,
.blog-tag {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
}

.blog-tag {
    margin-left: 30px;
}

.blog-date::before,
.blog-tag::before {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.blog-date::before {
    content: url("../img/svg/calendar-alt-solid.svg");
}

.blog-tag::before {
    content: url("../img/svg/file-regular.svg");
}

.blog img {
    width: 570px;
    height: 400px;
}

/* Contacts */

.contacts {
    color: var(--primary-white);
    box-sizing: border-box;
    position: relative;
    height: 1256px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.contacts::before {
    z-index: -1;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: " ";
    background: url("../img/background-2-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.contact-list {
    font-size: 20px;
    font-weight: 600;
}

.contact-list,
.contact-form {
    margin-left: 70px;
    margin-right: 70px;
}

.contact-item {
    width: 330px;
    margin-right: 70px;
    line-height: 28px;
}

.contact-item:nth-child(3n+2) {
    width: 230px;
}
.contact-item a {
    color: inherit;
}
.contact-item a:hover {
    color: var(--primary-blueish-green);
}
.contact-icon {
    height: 105px;
    width: 105px;
    content: " ";
    margin: 0 auto 36px auto;
    border-radius: 50%;
    background-color: var(--secondary-blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.contact-icon svg {
    -webkit-filter: invert(1);
            filter: invert(1);
}

.contact-icon.geo {
    background-image: url("../img/svg/geo.svg");
}

.contact-icon.phone {
    background-image: url("../img/svg/phone.svg");
}

.contact-icon.email {
    background-image: url("../img/svg/envelope.svg");
}


/* Contacts Form*/
.contact-form {
    display: flex;
    flex-wrap: wrap;
}

.contact-form input,
.contact-form textarea, 
.contact-form button {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--primary-black);
    border-radius: 10px;
    background-color: var(--primary-white);
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
}

.contact-form input[type=text] {
    margin-right: 30px;
}

.contact-form input[type=text],
.contact-form input[type=email] {
    margin-bottom: 33px;
    padding-left: 20px;
    border: none;
    box-sizing: border-box;
    height: 84px;
    width: 500px;
    flex-shrink: 0;
}

.contact-form textarea {
    height: 320px;
    box-sizing: border-box;
    padding: 30px 20px;
    flex: 1 0 100%;
    resize: none;
    overflow: auto;

}

.contact-form button[type=submit] {
    box-sizing: border-box;
    background-color: var(--primary-white);
    border-radius: 10px;
    margin: 40px 0 0 0;
    min-width: 220px;
    height: 72px;
    margin-left: auto;
    font-size: 20px;
    font-weight: 600;
    transition: color 1s, background-color 1s;
}

.contact-form button[type=submit]:hover {
    background-color: var(--primary-blueish-green);
    border: 1px solid var(--primary-blueish-green);
    color: var(--primary-white);
}

/*Footer*/
.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    height: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}