:root {
    --heading-color: white;
    --button-border: #f8f8f8;
    --button-text-color: white;
    --button-hover-color: #00897b;
    --button-border-latest: #00897b;
    --dark-text-color: #212121;

    --secondary-background-color: #e4fdf9;

    --service-item-hover-background-color: #00897b;
    --service-item-hover-text-color: white;
    --service-item-primary-color: white;
    --services-button-border: #212121;

    --latest-items-hover: rgba(0, 0, 0, 0.45);

    --pricing-background-color: #f0f1f1;
    --price-item-header-color: #3949ab;
    --price-item-divider-color: #bfbfbf;
}

a {
    text-decoration: none;
    color:inherit;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}
.page-body {
    width: 1400px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #ffffff;
    color:black;
}
.container {
    padding: 125px 115px;
    text-align: center;
}
.container h2 {
    margin-bottom: 35px;
}
.container > p {
    margin: 0 270px;
}
.container > p:last-of-type {
    margin-bottom: 110px;
}
/* Header */
.header {
    min-height: 120px;
    display: flex;
    justify-content: end;
    padding-left: 100px;
    padding-right:100px;
    align-items: center;
}

.header-logo {
    margin-right:auto;
    font-size: 25px;
    font-weight: bold;
}

.navigation-list {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight:600;
}
.navigation-list li:not(:last-child) {
    margin-right: 40px;
}
.search-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    height: 25px;
    width:25px;
    margin-left: 30px;
}
 /* H! and background */
.heading {
    box-sizing: border-box;
    position: relative;
    height: 655px;
    text-align: center;
    padding-top:140px;
    background-color: rgba(0, 0, 0, 0.8);
}
.heading::before {
    z-index: -1;
    position: absolute;
    display: block;
    height:100%;
    width: 100%;
    top:0;
    left:0;
    content: " ";
    background: url("/img/background-1.jpg");
   /*content: url("/img/background-1.jpg");*/   
}
.heading h1, .heading p {
    color: var(--heading-color);
}
.heading h1 {
    font-size: 60px;
    font-weight:600;
    flex-grow:1;
    margin-bottom:40px;
}
.heading p {
    font-size: 22px;
}
.heading p:last-of-type {
    margin-bottom: 110px;
}
.heading-arrow {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    font-size: 20px;
	cursor: pointer;
	outline: inherit;
    height: fit-content;
}
/* Button */

.button {
    font-size:20px;
    font-weight: 600;
    font-family: inherit;
    background-color: transparent;
    color: var(--button-text-color);
    border: 3px solid var(--button-border);
    padding: 20px 35px;
}
.button:hover {
    /*border:none;*/
    background-color: var(--button-hover-color);
}
.button:active, .button:focus {
    outline:none;
}



.service-list-button {
    border: 2px solid var(--services-button-border);
    color: var(--dark-text-color);
}
.service-item:hover .service-list-button {
    border: 2px solid var(--service-item-primary-color);
    color: var(--service-item-primary-color);
}
.button-latest {
    border: 2px solid var(--button-border-latest);
    color: var(--dark-text-color);
}
.button-latest:hover {
    color:var(--service-item-primary-color);
}
.button.button-latest.active, 
.button-latest-more {
    background-color: var(--button-hover-color);
    color:var(--service-item-primary-color);
}

.button-pricing {
    color:var(--dark-text-color);
    border: 2px solid var(--dark-text-color);
}
.button-pricing:hover {
    color:var(--heading-color);
    border: 2px solid var(--button-hover-color);
    background-color: var(--button-hover-color);
}


/* Flexes*/

.latest-list,
.features,
.services-list,
.price-list,
.team-list  {
    display: flex;
    flex-wrap: wrap;
}
.latest-item, 
.feature-item,
.service-item,
.price-item,
.team-member 
 {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.latest-item:nth-child(3n),
.feature-item:nth-child(3n),
.service-item:nth-child(3n),
.price-item:nth-child(3n),
.team-member:nth-child(3n) {
    margin-right: 0;
}





/*About section*/
.about {
    color: var(--dark-text-color);
    text-align: center;
    padding-top: 125px;
}
/*Вомонжно ненужны*/
.about h2 {
    margin-bottom: 30px;
}
.about p:last-of-type {
    margin-bottom: 120px;
}
/*Конец возможно ненужны*/

.feature-item {
    text-align: center;
}

/* Services */
.services {
    background-color: var(--secondary-background-color);
    padding-top: 174px;
    text-align: center;
}
.services h2 {
    margin-bottom: 35px;
}

.services p:last-of-type {
    margin-bottom: 110px;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
}


.service-item {
    box-sizing: border-box;
    margin-bottom: 33px;
    padding: 60px 30px 50px 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--service-item-primary-color);
}

.service-item h3 {
    font-size:20px;
    font-weight: 600;
}
.service-item p:last-of-type {
    margin-bottom: 40px;
}
.service-item h3::before {
    content: " ";
    display: block;
    margin:0 auto 40px auto;
    
    background-image: url("/img/service-icon.png");
    height: 67px;
    width: 62px;

}
.service-item:hover h3::before {
    background-position: 62px 0;
}
.service-icon {
    content: " ";

}
.service-item:hover {
    color: var(--service-item-hover-text-color);
    background-color: var(--service-item-hover-background-color);
}


/*Latest items*/

.latest-filter {
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    margin-bottom: 120px;
}
.button-latest {
    margin-right: 20px;
}
.latest-list {
    margin-bottom: 120px;
}

.latest-item {
    position:relative;
}

.latest-item div {
    color: var(--button-text-color);
    display:none;
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: var(--latest-items-hover);
}
.latest-item h3 {
    font-size: 20px;
}

.latest-item:hover div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Pricing */
.pricing {
    background-color: var(--pricing-background-color);
}

/*.price-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/
.price-item {
    
    background-color:var(--heading-color);
    overflow: hidden;
    padding-bottom:63px;
}
.price-header {
    background-color: var(--price-item-header-color);
    transform: skewY(-4deg);
    transform-origin: left;
    position: relative;
    overflow: hidden;
    padding-top:40px;
    padding-bottom:20px;
}
.price-header h3 {
    font-size: 25px;
}
.price-header p {
    font-size: 17px;
}
.price-header p span {
    font-size: 50px;
}
.superscript {
    font-size: 25px;
}
.price-header h3,
.price-header p {
    color: var(--heading-color);
    transform: skewY(4deg);
    transform-origin: left;
} 
.price-item ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;
}
.price-item ul li {
    line-height: 28px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--price-item-divider-color);
    margin-left:100px;
    margin-right:100px;
}

.team-list {
    text-align: center;
}
.team-member h3 {
    font-size: 20px;
}
.team-member p:last-of-type {
    margin-bottom: 30px;
} 
.team-member img {
    width:370px;
    height:320px;
    border-radius: 10px;
}
.team-socials {
    list-style: none;
    display: flex;
    justify-content: center;
}
.team-socials a {
    background-color: var(--pricing-background-color);
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-right:25px;
    width: 50px;
    height: 50px;
}
.team-socials a:hover {
    color: var(--heading-color);
    background-color: var(--price-item-header-color);
}
.team-socials a:last-child {
    margin-right: 0;
}



.blog {
    background-color: var(--secondary-background-color);
}
.blog-list {
    display: flex;
    flex-wrap:wrap;

}
.blog-item:nth-child(2n) img {
    order:1;    
}
.blog-item {
    display: flex;
    flex-wrap: nowrap;
}
.blog-date::before {
    display: block;
    width: 20px;
    height: 20px;
    content: url("/img/svg/calendar-alt-solid.svg");
}
.blog img {
    width: 570px;
    height: 400px;
}